In [2]:
import pandas as pd
# Create a sample DataFrame for testing
date_column = "DateColumn"
df = pd.DataFrame({
date_column: ['2022-01-01', '2022-02-01', '2022-03-01'],
    "another": [3, 4, 5 ]
})

display(df)

   DateColumn  another
0  2022-01-01        3
1  2022-02-01        4
2  2022-03-01        5

In [19]:
from datetime import datetime
df[date_column] = pd.to_datetime(df[date_column].astype(str))
print(isinstance(df[date_column][0], datetime))
print(isinstance(1, int))

mask = df[date_column].apply(lambda x: isinstance(x, datetime))

True
True

In [14]:
import numpy as np

print(mask)
print(mask[0])
print(np.where(mask))

0    False
1    False
2    False
Name: DateColumn, dtype: bool
False
(array([], dtype=int64),)