In [1]:
import pandas as pd
# Create a sample DataFrame for testing
date_column = "DateColumn"
another_column = "another"
data_frame = pd.DataFrame({
date_column: ['2022-01-01', '2022-02-01', '2022-03-01', "2023-4-5"],
another_column: [3, 4, 5, "jajaj" ]
})

display(data_frame)

   DateColumn another
0  2022-01-01       3
1  2022-02-01       4
2  2022-03-01       5
3    2023-4-5   jajaj

In [2]:
# from datetime import datetime
# data_frame[date_column] = pd.to_datetime(datetime[date_column].astype(str))
# print(isinstance(data_frame[date_column][0], datetime))
# print(isinstance(1, int))
#
# mask = data_frame[date_column].apply(lambda x: isinstance(x, datetime))

In [3]:
# a = data_frame.index[data_frame["another"] != int][0]
# print(a)

print(data_frame)

   DateColumn another
0  2022-01-01       3
1  2022-02-01       4
2  2022-03-01       5
3    2023-4-5   jajaj

In [18]:
# wrong_index = []
# invalid_rows = []
#
# column_in_data_frame_to_be_checked = data_frame[another_column]
#
# for index, row in column_in_data_frame_to_be_checked.iterrows():
#     value = row
#     if not isinstance(value, (float, int)):
#         invalid_rows.append(index)
#
# print(invalid_rows)


invalid_rows = []

column_in_data_frame_to_be_checked = data_frame[another_column]

for index in column_in_data_frame_to_be_checked.index:
    value = column_in_data_frame_to_be_checked[index]
    if not isinstance(value, (float, int)):
        invalid_rows.append(index)

# Print the indices of invalid rows
print(invalid_rows)

[3]

In [5]:

data_frame.isin([float or int])

   DateColumn  another
0       False    False
1       False    False
2       False    False
3       False    False