In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

from openpyxl.chart import BarChart, Reference

from excel_manager import ExcelManager, NiceExcelFunction, NicePandaFrameFunctions
from run_data_frame_calculations import RunDataFrameCalculationsForOneDataFrame

In [2]:

path_input_excel = r"C:\Users\robbe\Downloads\python\python_plain_data.xlsx"

#make instance of excel manger
manager = ExcelManager(path_input_excel)

# load the workbook in
manager.load_workbook()

In [3]:
# check the sheet names
sheet_names = manager.get_sheet_names()
print(sheet_names)

['GT1.1', 'GT1.2', 'GT2.1', 'GT2.2']

In [4]:
column_names = ['Sample ID', 'Parallel', 'Date', 'Time', 'P atm', 'P sample before gc', 'P sample after gc', 'CH4', 'CO2', 'O2', 'N2', 'Flush (1=yes; 0=no)', 'Comments', 'GC method', 'Weight', 'Date + Time', 'Day', 'Sum', 'CH4-corr', 'CO2-corr', 'O2-corr', 'N2-corr', 'Sum-corr', 'mg_bs', 'mCO2_b', 'mCH4_b', 'mO2_b', 'mN2_b', 'mCTot_b', 'mg_as', 'mCO2_a', 'mCH4_a', 'mO2_a', 'mN2_a', 'mCTot_a', 'mCTot_produced', 'O2 consumed', 'CO2 produced', 'O2 consumed_cum', 'CO2 produced_cum', 'mCTot_produced_cum', 'Cgas_DM_cum', 'PP CO2_b', 'CO2_aq [mol/m3]', 'CO2_aq [mol]', 'CO2_produced_aq', 'DIC_cum', 'Ctot_DM', 'Ratio O2/CO2']

basic_column_names = ['Sample ID', 'Parallel', 'Date', 'Time', 'P atm', 'P sample before gc', 'P sample after gc', 'CH4', 'CO2', 'O2', 'N2', 'Flush (1=yes; 0=no)', 'Comments', 'GC method', 'Weight']

In [5]:
# check if you can see the data_frame
full_sheet = manager.load_sheet_table(sheet_name="GT1.1", start_row=13)

display(full_sheet)
print(f' As you can see now the full sheet is shown')

,Sample ID,Parallel,Date,Time,P atm [hPa],P sample before gc [hPa],P sample after gc [hPa],CH4 [%],CO2 [%],O2 [%],N2 [%],Flush (1=yes; 0=no),Comments,GC method,Weight [g]
0,GT1,1,2023-04-17,14:42:00,1025.1,1117.44,NaN,0.00,0.03,21.90,78.07,NaN,start expiriment,None,793.46
1,GT1,1,2023-04-19,14:42:00,1023.1,960.00,958.1,0.12,1.53,2.21,96.64,0.0,None,LM,NaN
2,GT1,1,2023-04-24,10:20:00,1002.3,962.20,959.8,0.25,2.41,1.59,99.14,0.0,None,LM,NaN
3,GT1,1,2023-04-24,11:25:00,1003.3,1104.60,1085.8,0.00,0.74,19.79,76.88,1.0,None,LM,793.54
4,GT1,1,2023-04-26,08:52:00,1017.0,954.00,951.0,0.03,2.72,8.46,92.37,0.0,None,LM,NaN
5,GT1,1,2023-04-26,09:53:00,1017.2,1120.80,1105.6,0.00,0.63,20.51,76.51,1.0,None,LM,793.55
6,GT1,1,2023-04-28,09:45:00,1006.8,1029.20,1025.8,0.00,4.52,11.77,90.20,0.0,None,LM,NaN
7,GT1,1,2023-05-01,13:50:00,1013.1,1042.70,1039.9,0.00,5.74,9.74,83.32,0.0,None,LM,NaN
8,GT1,1,2023-05-01,14:49:00,1013.3,1114.60,1110.6,0.00,0.78,20.50,76.25,1.0,None,LM,793.43
9,GT1,1,2023-05-04,09:26:00,1017.9,1050.60,1046.6,0.00,5.34,12.97,86.62,0.0,None,LM,NaN
10,GT1,1,2023-05-04,10:46:00,1017.2,1122.10,1119.1,0.00,0.50,20.32,75.56,1.0,None,LM,793.32
11,GT1,1,2023-05-08,08:40:00,1018.7,1037.50,1035.2,0.00,6.98,8.07,85.33,0.0,None,LM,NaN
12,GT1,1,2023-05-08,09:47:00,1018.7,1123.20,1120.3,0.00,0.57,20.11,74.92,1.0,None,LM,793.27
13,GT1,1,2023-05-10,09:35:00,1007.5,1073.00,1070.6,0.00,4.77,15.79,90.70,0.0,None,LM,NaN
14,GT1,1,2023-05-10,10:40:00,1008.0,1112.40,1109.9,0.00,0.40,20.24,75.24,1.0,None,LM,793.20
15,GT1,1,2023-05-12,09:09:00,1014.4,1068.80,1066.2,0.00,3.70,15.45,83.90,0.0,None,LM,NaN
16,GT1,1,2023-05-12,10:10:00,1014.9,1118.60,1115.3,0.00,0.41,20.26,75.22,1.0,None,LM,793.12
17,GT1,1,2023-05-15,09:30:00,1012.5,1068.20,1061.9,0.00,4.43,15.52,90.13,0.0,None,LM,NaN
18,GT1,1,2023-05-15,10:38:00,1012.8,1117.10,1113.5,0.00,0.42,20.54,76.23,1.0,None,LM,793.04
19,GT1,1,2023-05-17,08:52:00,1025.0,1088.60,1086.7,0.00,3.02,18.61,87.70,0.0,None,LM,NaN
20,GT1,1,2023-05-17,09:57:00,1025.6,1129.00,1125.8,0.00,0.29,20.55,76.21,1.0,None,Lm,792.91
21,GT1,1,2023-05-22,14:11:00,1013.1,1074.80,1072.5,0.00,7.08,12.54,92.29,0.0,Funges,LM,NaN
22,GT1,1,2023-05-22,15:08:00,1013.6,1112.00,1108.6,0.00,0.64,20.31,75.55,1.0,None,LM,792.80

 As you can see now the full sheet is shown

In [6]:
# fil in the dict with constants for the samples
sheet_names_samples = sheet_names[:]
for sheet_name in sheet_names_samples:
    # loading the panda data frame for the sample
    constants_data_frame = manager.load_constants_as_data_frame(sheet_name=sheet_name, start_row=1, end_row=7, start_col=3)

    constants_data_class = manager.load_constants_as_data_class(sheet_name=sheet_name, start_row=1, end_row=7, start_col=3)

    # fill the dictionary
    manager.fill_dict_constants_data_frames(data_frame=constants_data_frame, sheets=[sheet_name])

    manager.fill_dict_constants_data_classes(data_class=constants_data_class, sheets=[sheet_name])

dict_constants = manager.get_dict_constants_data_frames()
dict_constants_data_classes = manager.get_dict_constants_data_classes()

Show process: GT1.1 is done
Show process: GT1.1 is done
Show process: GT1.2 is done
Show process: GT1.2 is done
Show process: GT2.1 is done
Show process: GT2.1 is done
Show process: GT2.2 is done
Show process: GT2.2 is done

In [7]:
display(dict_constants["GT1.1"])
con = dict_constants_data_classes["GT1.1"]
print(con.expTemp)

,Rgas,expTemp,volume_headspace,MM_C,water_volume,dry_mass_sample,henryeff_20
0,8314.5,293.15,0.961,12,0.098,153.607785,0.00523

293.15

In [8]:
# Now all the data frames are read in, calculated and returned in to the excell_file
sheet_names_samples = sheet_names[:]
for sheet_name in sheet_names_samples:
    # loading the data frame
    column_end = NiceExcelFunction.get_column_index(column_letter="O")
    data_frame = manager.load_sheet_table(sheet_name=sheet_name, start_row=13, end_column=column_end)


    constants_data_class = dict_constants_data_classes[sheet_name]

    # adding date and do the gas composition corrections.
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_data_frame_processor_calculations()
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_gas_composition_calculations()

    # calculations for moles before and after sampling
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_mol_gases_before_and_after_sampling(Rgas=constants_data_class.Rgas,
                                                                                                           exp_temperature=constants_data_class.expTemp,
                                                                                                           volume_headspace=constants_data_class.volume_headspace)

    # correcting the mg_bs for the first measurement
    data_frame.loc[0, "mg_as"] = data_frame.loc[0, "mg_bs"]


    # run mol gas composition
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_mol_gas_composition_calculation()
    # run moles produced
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_moles_produced()
    # run cumulative calculations carbon in gas phase
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_cumulative_production_in_the_gas_phase(molar_mass_carbon=constants_data_class.molar_mass_carbon,
                                                                                                              dry_mass_sample=constants_data_class.dry_mass_sample)

    # run calculation carbon in the aqueous phase
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_carbon_in_aqueous_phase(water_volume_in_liters=constants_data_class.water_volume,
                                                                                    dry_mass_sample=constants_data_class.dry_mass_sample)

    # run results interpretations
    RunDataFrameCalculationsForOneDataFrame(data_frame=data_frame).run_results_Interpretations()

    print(f"finished calculations {sheet_name}")

    manager.fill_dict_panda_data_frames(data_frame=data_frame, sheets=[sheet_name])

    print(f"filled dictionary for {sheet_name}")





    # manager.replace_table_in_specific_sheet_with_data_frame(excel_file_path=path_input_excel,
    #                                                         sheet_name=sheet_name,
    #                                                         start_row=13,
    #                                                         data_frame=data_frame,
    #                                                         header=True
    #                                                         )
    # print(f"replaced table for {sheet_name}")

finished calculations GT1.1
Show process: GT1.1 is done
filled dictionary for GT1.1
finished calculations GT1.2
Show process: GT1.2 is done
filled dictionary for GT1.2
finished calculations GT2.1
Show process: GT2.1 is done
filled dictionary for GT2.1
finished calculations GT2.2
Show process: GT2.2 is done
filled dictionary for GT2.2

C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = (data_frame[column_name_CO2_aq_in_mol_per_m3][1:] * constant) - data_frame[name_column].at[0]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:329: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = data_frame[name_column_C_gas_dry_mass_cum][1:] + data_frame[name_column_DIC_cum][1:]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = (data_frame[column_name_CO2_aq_in_mol_per_m3][1:] * constant) - data_frame[name_column].at[0]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:329: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = data_frame[name_column_C_gas_dry_mass_cum][1:] + data_frame[name_column_DIC_cum][1:]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = (data_frame[column_name_CO2_aq_in_mol_per_m3][1:] * constant) - data_frame[name_column].at[0]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:329: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = data_frame[name_column_C_gas_dry_mass_cum][1:] + data_frame[name_column_DIC_cum][1:]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = (data_frame[column_name_CO2_aq_in_mol_per_m3][1:] * constant) - data_frame[name_column].at[0]
C:\Users\robbe\Desktop\Q4 2022-2023\Bachelor Eind Werk\Geotechnical\Python-tool\openpyxl Code\data_frame_calculations.py:329: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame[name_column][1:] = data_frame[name_column_C_gas_dry_mass_cum][1:] + data_frame[name_column_DIC_cum][1:]

In [9]:
dict_data_frames = manager.get_dict_panda_data_frames()
display(dict_data_frames["GT1.1"])
# Set the display options
pd.set_option('display.max_rows', None)  # Display all rows
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.width', None)  # Automatically adjust the column width to fit the contents

,Sample ID,Parallel,Date,Time,P atm [hPa],P sample before gc [hPa],P sample after gc [hPa],CH4 [%],CO2 [%],O2 [%],...,CO2 produced_cum,mCTot_produced_cum,Cgas_DM_cum,PP CO2_b,CO2_aq [mol/m3],CO2_aq [mol],CO2_produced_aq,DIC_cum,Ctot_DM [mg C/gDW],Ratio O2/CO2
0,GT1,1,2023-04-17,14:42:00,1025.1,1117.44,NaN,0.00,0.03,21.90,...,0.000000,0.000000,0.000000,33.523200,0.175326,0.000017,0.000000,0.001342,0.000000,0.000000
1,GT1,1,2023-04-19,14:42:00,1023.1,960.00,958.1,0.12,1.53,2.21,...,0.000563,0.000608,0.047514,1461.492537,7.643606,0.000749,0.000732,0.057176,0.104690,6.808473
2,GT1,1,2023-04-24,10:20:00,1002.3,962.20,959.8,0.25,2.41,1.59,...,0.000872,0.000964,0.075312,2242.868749,11.730204,0.001150,0.000400,0.088463,0.163775,0.348401
3,GT1,1,2023-04-24,11:25:00,1003.3,1104.60,1085.8,0.00,0.74,19.79,...,NaN,NaN,NaN,839.137666,4.388690,0.000430,-0.000719,0.032257,NaN,NaN
4,GT1,1,2023-04-26,08:52:00,1017.0,954.00,951.0,0.03,2.72,8.46,...,0.001535,0.001637,0.127920,2505.194053,13.102165,0.001284,0.000854,0.098966,0.226886,3.709538
5,GT1,1,2023-04-26,09:53:00,1017.2,1120.80,1105.6,0.00,0.63,20.51,...,NaN,NaN,NaN,723.096774,3.781796,0.000371,-0.000913,0.027611,NaN,NaN
6,GT1,1,2023-04-28,09:45:00,1006.8,1029.20,1025.8,0.00,4.52,11.77,...,0.002976,0.003079,0.240503,4368.470279,22.847100,0.002239,0.001868,0.173572,0.414075,1.411259
7,GT1,1,2023-05-01,13:50:00,1013.1,1042.70,1039.9,0.00,5.74,9.74,...,0.003648,0.003750,0.292980,6057.791498,31.682250,0.003105,0.000866,0.241213,0.534193,0.271447
8,GT1,1,2023-05-01,14:49:00,1013.3,1114.60,1110.6,0.00,0.78,20.50,...,NaN,NaN,NaN,891.405721,4.662052,0.000457,-0.002648,0.034350,NaN,NaN
9,GT1,1,2023-05-04,09:26:00,1017.9,1050.60,1046.6,0.00,5.34,12.97,...,0.005405,0.005508,0.430304,5346.615839,27.962801,0.002740,0.002283,0.212737,0.643041,1.010519
10,GT1,1,2023-05-04,10:46:00,1017.2,1122.10,1119.1,0.00,0.50,20.32,...,NaN,NaN,NaN,582.122847,3.044502,0.000298,-0.002442,0.021966,NaN,NaN
11,GT1,1,2023-05-08,08:40:00,1018.7,1037.50,1035.2,0.00,6.98,8.07,...,0.008021,0.008124,0.634631,7214.335525,37.730975,0.003698,0.003399,0.287521,0.922152,0.999863
12,GT1,1,2023-05-08,09:47:00,1018.7,1123.20,1120.3,0.00,0.57,20.11,...,NaN,NaN,NaN,669.690377,3.502481,0.000343,-0.003354,0.025472,NaN,NaN
13,GT1,1,2023-05-10,09:35:00,1007.5,1073.00,1070.6,0.00,4.77,15.79,...,0.009571,0.009674,0.755749,4600.224699,24.059175,0.002358,0.002015,0.182851,0.938600,0.922177
14,GT1,1,2023-05-10,10:40:00,1008.0,1112.40,1109.9,0.00,0.40,20.24,...,NaN,NaN,NaN,464.080100,2.427139,0.000238,-0.002120,0.017240,NaN,NaN
15,GT1,1,2023-05-12,09:09:00,1014.4,1068.80,1066.2,0.00,3.70,15.45,...,0.010902,0.011005,0.859686,3837.515769,20.070207,0.001967,0.001729,0.152312,1.011999,0.954334
16,GT1,1,2023-05-12,10:10:00,1014.9,1118.60,1115.3,0.00,0.41,20.26,...,NaN,NaN,NaN,478.283450,2.501422,0.000245,-0.001722,0.017808,NaN,NaN
17,GT1,1,2023-05-15,09:30:00,1012.5,1068.20,1061.9,0.00,4.43,15.52,...,0.012409,0.012511,0.977406,4298.806323,22.482757,0.002203,0.001958,0.170783,1.148188,0.967643
18,GT1,1,2023-05-15,10:38:00,1012.8,1117.10,1113.5,0.00,0.42,20.54,...,NaN,NaN,NaN,482.747196,2.524768,0.000247,-0.001956,0.017987,NaN,NaN
19,GT1,1,2023-05-17,08:52:00,1025.0,1088.60,1086.7,0.00,3.02,18.61,...,0.013405,0.013507,1.055204,3007.017287,15.726700,0.001541,0.001294,0.119059,1.174263,0.861429
20,GT1,1,2023-05-17,09:57:00,1025.6,1129.00,1125.8,0.00,0.29,20.55,...,NaN,NaN,NaN,337.362184,1.764404,0.000173,-0.001368,0.012166,NaN,NaN
21,GT1,1,2023-05-22,14:11:00,1013.1,1074.80,1072.5,0.00,7.08,12.54,...,0.015953,0.016056,1.254281,6799.735502,35.562617,0.003485,0.003312,0.270920,1.525201,0.793507
22,GT1,1,2023-05-22,15:08:00,1013.6,1112.00,1108.6,0.00,0.64,20.31,...,NaN,NaN,NaN,737.492228,3.857084,0.000378,-0.003107,0.028187,NaN,NaN

In [10]:
dict_constants = manager.get_dict_constants_data_frames()
display(dict_constants["GT1.1"])

,Rgas,expTemp,volume_headspace,MM_C,water_volume,dry_mass_sample,henryeff_20
0,8314.5,293.15,0.961,12,0.098,153.607785,0.00523